<?xml version='1.0' encoding='utf-8'?>
<plugin id="com.trackier.cordova_sdk" version="1.6.47"
    xmlns="http://apache.org/cordova/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android">
    <name>TrackierCordovaPlugin</name>
    <js-module name="TrackierCordovaPlugin" src="www/TrackierCordovaPlugin.js">
        <clobbers target="cordova.plugins.TrackierCordovaPlugin" />
    </js-module>
    <platform name="android">
        <config-file parent="/*" target="res/xml/config.xml">
            <feature name="TrackierCordovaPlugin">
                <param name="android-package" value="com.trackier.cordova_sdk.TrackierCordovaPlugin" />
            </feature>
        </config-file>
        <config-file parent="/*" target="AndroidManifest.xml"></config-file>
        <source-file src="src/android/TrackierCordovaPlugin.java" target-dir="src/com/trackier/cordova_sdk/TrackierCordovaPlugin" />
        <framework src="com.trackier:android-sdk:1.6.47" />
        <source-file src="src/android/TrackierCordovaUtil.java" target-dir="src/com/trackier/cordova_sdk/TrackierCordovaUtil" />
    </platform>
    <platform name="ios">
		<config-file target="config.xml" parent="/*">
			<feature name="TrackierCordovaPlugin">
				<param name="ios-package" value="TrackierCordovaPlugin" />
			</feature>
		</config-file>
		<source-file src="src/ios/TrackierCordovaPlugin.swift" />
        <framework src="trackier-ios-sdk" type="podspec" spec="~> 1.6.47" />
	</platform>
</plugin>